<!DOCTYPE html>
<html>
<head>
    <title>My Home Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bookings/style.css' %}">
</head>
<body>
    <h1>Welcome to my Homepage</h1>
    <p>This is a test.</p>

    <!-- Navigation buttons -->
    <nav>
        <a href="{% url 'bookings:movie_list' %}">
            <button>Movies</button>
        </a>
        <a href="{% url 'bookings:seat_booking' %}">
            <button>Seat Booking</button>
        </a>
        <a href="{% url 'bookings:booking_history' %}">
            <button>Booking History</button>
        </a>
    </nav>
</body>
</html>
